@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @import url("https://fonts.cdnfonts.com/css/satoshi"); */
@import "https://code.highcharts.com/dashboards/css/dashboards.css";
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* @layer base {
  body {
    @apply font-normal text-base text-body bg-whiten relative z-1;
  }
} */
body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  font-family: "Poppins", sans-serif !important;
}

/* ------------------------------ IMS CSS -----------------------------------------*/

/* styles/globals.css */
/* body {
  font-family: "Poppins", sans-serif;
} */

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* third-party libraries CSS */

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  margin-left: 85px;
  background-color: #171a22;
  color: white;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: 1200;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  outline: 0;
  left: 0;
  width: 13.5rem;
}

.css-h4y409-MuiList-root {
  list-style: none;
  margin: 0;
  padding: 10px;
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Tooltip css */

.MuiTooltip-popper[data-popper-placement*="left"]
  .css-ja5taz-MuiTooltip-tooltip {
  transform-origin: right center;
  margin-right: 8px;
}
.css-ja5taz-MuiTooltip-tooltip {
  font-size: 0.7875rem;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  box-shadow: 0px 2.5px 2.5px -1.5px rgba(0, 0, 0, 0.1),
    0px 4px 5px 0.5px rgba(0, 0, 0, 0.07), 0px 1.5px 7px 1px rgba(0, 0, 0, 0.06);
}

.css-uyijx3-MuiPaper-root {
  /* background-color: "transparent"; */
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
/* .css-1ex1afd-MuiTableCell-root {
  border-bottom: 1px solid #3c3c3c;
} */
.css-y8ay40-MuiTableCell-root {
  border-bottom: 1px solid #3c3c3c;
}
